include ../../toxin-blocks/logo/logo.pug

block vars

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel='icon', href='./static/img/ui-kit-logo.svg', type='image/x-icon')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    body
        
        header.head
            +logo('ui-kit')

            .head__links
                a(href="https://fuzzywisp.github.io/fsd/colors-and-type.html").head__link Colors and Type
                a(href="https://fuzzywisp.github.io/fsd/form-elements.html").head__link Form Elements

        block content