include ../../../layouts/header/header.pug
include ../../../layouts/footer/footer.pug

block vars

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel='icon', href='./static/img/logo.svg', type='image/x-icon')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

  body(class=bodyClass)

    .page-template__header
      +header

    block content

    +footer