.color-block{
	display: flex;
	align-items: center;
	padding: 0 0 0 10px;

	& + &{
		padding-top: 20px;
	}

	&__description{
    padding: 0 0 0 40px;
	}

	&__title{
		line-height: 29px;
	}

	&__sub-title{
		line-height: 29px;
    font-size: 19px;
	}

	&__color{        
		width: 70px;
		height: 70px;
		border-radius: 6px;

		&_ds-05{
			background-color: $dark-shade5;
		}

		&_ds-25{
			background-color: $dark-shade25;
		}

		&_ds-50{
			background-color: $dark-shade50;
		}

		&_ds-75{
			background-color: $dark-shade75;
		}

		&_ds-100{
			background-color: $dark-shade;
		}

		&_purple{
			background-color: $purple;
		}

		&_green{
			background-color: $green;
		}
	}
}