.title-block{    
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    & + .container_vertical,
    & + .container_horizontal{
        margin-top: 16px;
    }
}