.text-field{
  position: relative;
  height: max-content;
  width: 320px;
  display: flex;
  flex-direction: column;

  &__title{}

  &__sub-title{
    color: $dark-shade50;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    line-height: 15px;
  }

  &__title-block{
    line-height: 15px;
    display: flex;
    justify-content: space-between;

    & + .text-field__container{
      margin-top: 5px;
    }
  }

  &__container{
    display: flex;
  }

  &_medium{
    width: 266px;
  }

  &_large{
    width: 320px;
  }

  &__text-input{
    width: 100%;
    height: 44px;
    @extend %text-field;
    padding: 0 15px;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 24px;
    -webkit-text-fill-color: $dark-shade25;

    &_subscription{
      position: relative; 
      width: 222px;
      border-right: 0;
      border-radius: 4px 0 0 4px ;

      &:hover + .text-field__button, 
      &:focus + .text-field__button{
        border-color: $dark-shade50;
      }
    }

    &:hover, &:focus, &_focus{
      -webkit-text-fill-color: $dark-shade75;
      border-color: $dark-shade50;
    }
  }

  &__button{
    width: 44px;
    height: 44px;
    border-radius: 0 4px 4px 0;
    border: 1px solid $dark-shade25;
    border-left: 0;
    background-color: #fff;

    &:after{
      content: 'arrow_forward';
      @extend %material-icons;
      @include text-gradient($purple-gradient, $purple)
    }

    &:hover ~ .text-field__text-input{
      border-color: $dark-shade50;
    }
  }
}