mixin text-field(title, subTitle, value, elementClass)
    - let x = 'text-field ' + elementClass;
    div(class=x)
        .text-field__titles
            h3.text-field__title #{title}
            h3.text-field__sub-title #{subTitle}
        .field-border.text-field__field-border
            input(type='text', value=value, class='text-input text-field__text-input')