@font-face{
    font-family:'Quicksand', sans-serif;
    src: url('../static/fonts/Quicksand/Quicksand-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family:'Montserrat', sans-serif;
    src: url('../static/fonts/Quicksand/Quicksand-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family:'Montserrat', sans-serif;
    src: url('../static/fonts/Quicksand/Quicksand-Bold.otf');
    font-weight: normal;
    font-style: normal;
}