@font-face{
    font-family:'Quicksand', sans-serif;
    src: local('./static/fonts/Quicksand/Quicksand-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family:'Montserrat', sans-serif;
    src: local('./static/fonts/Quicksand/Quicksand-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family:'Montserrat', sans-serif;
    src: local('./static/fonts/Quicksand/Quicksand-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('./static/fonts/MaterialIcons-Regular.eot') format('eot'),
         local('./static/fonts/MaterialIcons-Regular.svg') format('svg'),
         local('./static/fonts/MaterialIcons-Regular.woff2') format('woff2'),
         local('./static/fonts/MaterialIcons-Regular.woff') format('woff'),
         local('./static/fonts/MaterialIcons-Regular.ttf') format('truetype'),
         local('./static/fonts/MaterialIcons-Regular.ijmap') format('ijmap'),;

}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }