/* COLOuRS */
$dark-shade: #1F2041;
$dark-shade75: rgba(31, 32, 65, 0.75);
$dark-shade50: rgba(31, 32, 65, 0.50);
$dark-shade25: rgba(31, 32, 65, 0.25);
$dark-shade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$purple-gradient: linear-gradient(#BC9CFF, #8BA4F9);
$green-gradient: linear-gradient(#6FCF97, #66D2EA);
$orange-gradient: linear-gradient(#FFE39C, #FFBA9C);
$grey-gradient: linear-gradient(#919191, #3D4975);
$opacity-purple-gradient: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 240, 0.5) 100%);
