mixin bullet-list(title)
    .title-block
        h3 #{title}
    .bullet-list.container_vertical
        .bullet-list__line
            .bullet
            p.bullet-list__description Нельзя с питомцами
        .bullet-list__line
            .bullet
            p.bullet-list__description Без вечериное и мероприятий
        .bullet-list__line
            .bullet
            p.bullet-list__description
                |Время прибытия — после 13:00,
                br
                |а выезд до 12:00