.bullet-list{
  padding-left: 20px;

  &__string{
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75;
    position: relative;

    & + &{
      margin-top: 10px;
    }

    &:before{
      content: '';
      background-color: $dark-shade25;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: absolute;
      left: -20px;
      top: 7px;
    }
  }
}