.bullet-list{

  &__title{
    
    & + .bullet-list__container{
      padding-top: 16px;
    }
  }

  &__container{
    padding-left: 20px;
    position: relative;
  }

  &__string{
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75;

    & + &{
      padding-top: 10px;
    }

    &::before{
      content: 'fiber_manual_record';
      @extend %material-icons;
      color: $dark-shade25;
      width: 0;
      height: 0;
      font-size: 16px;
      position: relative;
      right: 22px;
      top: 2px;
    }
  }
}