mixin bullet-list(title)
  .bullet-list
    ul.bullet-list__container
      li.bullet-list__string Нельзя с питомцами
      li.bullet-list__string Без вечеринок и мероприятий
      li.bullet-list__string
        |Время прибытия — после 13:00,
        br
        |а выезд до 12:00
