.checkbox__input{
    // &:checked + .checkbox__title::before{
    //     border-color: $purple;
    //     background-image: src('../static/img/Vector.svg');
    //     background-size: 100%;
    // }

    &:checked{ 
        & + .checkbox__item::before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 4px;
            left: 4px;
            border-radius: 4px;
            background: $purple-gradient;
        }
        & + .checkbox__item{
            border-color: $purple;
        }
    }
}