mixin checkbox(title, id, rich, check)

  - let checkboxTitleClassList = 'checkbox__title';

  if rich
    - checkboxTitleClassList += ' checkbox__title_rich'

  .checkbox
    label.checkbox__container
      input(type='checkbox', id=id, checked=check).checkbox__input
      .checkbox__item
      span(class=checkboxTitleClassList) #{title}

    if rich == 1
      span.checkbox__description
        |Ширина коридоров в номере
        br
        |не менее 91 см.

    if rich == 2
      span.checkbox__description
        |На 1 этаже вас встретит специалист
        br
        |и проводит до номера.