.checkbox{
    cursor: pointer;
    display: flex;
    align-items: center;
    & + .checkbox{
        margin-top: 10px;
    }
    & + .rich-checkbox-buttons__description{
        padding: 4px 0 0 30px;
    }
}