.room-details{

  &__container{}

  &__galery{
    height: 485px;
  }

  &__booking-block{
    display: flex;
    justify-content: space-between;
    padding: 40px 140px;
  }

  &__info-section{
    width: 700px;

    & + .room-details__form-section{
      margin-left: 70px;
    }
  }

  &__bonuses-block{
    display: flex;
    justify-content: space-between;
  }

  &__rules-block{
    display: flex;
  }

  &__block-title{

    &_spaced{
      padding-left: 20px;
    }

    & + .room-details__item{
      margin-top: 20px;
    }
  }

  &__rich-title-block{
    display: flex;
    justify-content: space-between;
  }

  &__comments-number{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 14px;
    color: $dark-shade50;
  }

  &__rule{
    width: 50%;
  }

  &__block{
    & + &{
      margin-top: 35px;
    }
  }

  &__item{

    & + &{
      margin-top: 20px;
    }
  }

  &__chart-block{
    display: flex;
  }

  &__chart{
    width: 120px;
    height: 120px;
    background-color: #999;
    border-radius: 50%;
  }

  &__chart-description{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 45px;
  }

  &__chart-description-string{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75;
    position: relative;

    &:before{
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #000;
      position: absolute;
      top: 7px;
      left: -15px;
    }

    &_amaizing{

      &:before{
        content: '';
        background: $orange-gradient;
      }
    }

    &_good{

      &:before{
        content: '';
        background: $green-gradient;
      }
    }

    &_satisfactorily{

      &:before{
        content: '';
        background: $purple-gradient;
      }
    }

    &_disappointingly{

      &:before{
        content: '';
        background: $grey-gradient;
      }
    }
  }
}