.registration-page{
  
  &__container{
    height: 750px;
    padding: 28px 140px;
    background-image: url('/static/img/autorization-bg-image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  &__form{
  }
}