.form{
  max-width: 380px;
  padding: 40px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;

  &__room-number{
    @extend %title-h1;

    &_sign{
      font-family: 'Quicksand-Bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }

    &_purple{
      @extend %title-h3;
      color: $purple;
    }
  }

  &__room-cost-per-day{
    color: $dark-shade50;
    font-size: 12px;
    
    &_bold{
      font-family: 'Montserrat-Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__title-block{
    display: flex;
    justify-content: space-between;

    & + .form__data-picker{
      padding-top: 20px;
    }

    & + .form__text-field{
      padding-top: 20px;
    }
  }

  &__data-picker{

    & + .form__dropdown{
      padding-top: 20px;
    }
  }

  &__dropdown{

    & + .form__button{
      padding-top: 30px;
    }

    & + .form__price-block{
      padding-top: 20px;
    }
  }

  &__price-block{

    & + .form__button{
      padding-top: 20px;
    }
  }
  
  &__price-block-item{
    display: flex;
    justify-content: space-between;

    & + &{
      padding-top: 10px;
    }

    &:last-child{
      padding-top: 30px;
    }
  }

  &__button{

    & + .form__autorization-block{
      padding-top: 30px;
    }
  }

  &__text-field{

    & + .form__text-field{
      padding-top: 10px;
    }

    & + .form__radio-buttons{
      padding-top: 10px;
    }

    & + .form__toggle{
      padding-top: 10px;
    }

    & + .form__button{
      padding-top: 20px;
    }
  }

  &__radio-buttons{

    & + .form__text-field_berth-date{
      padding-top: 23px;
    }
  }

  &__text-field_berth-date{

    & + .form__text-field{
      padding-top: 20px;
    }
  }

  &__toggle{

    & + .form__button{
      padding-top: 24px;
    }
  }

  &__autorization-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75;

    &_stretch{
      position: relative;
      width: 215px;   
      
      &:after{
        content: 'i';
        cursor: pointer;
        position: absolute;
        right: -25px;
        width: 20px;
        height: 20px;
        border: 1px solid $dark-shade25;
        border-radius: 50%;
        text-align: center;
        padding-bottom: 2px;
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-size: 12px;
        line-height: 19px;
        color: $dark-shade25;
      }
    }

    &_bold{
      font-family: 'Quicksand-Bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      color: $dark-shade;
    }
  }

  &__line{
    position: relative;
    bottom: 6px;
    border: solid $dark-shade25;
    border-width: 0 0 1px 0;
    flex: 1 1 auto;
  }
}