include ../../toxin-blocks/data-picker/data-picker.pug
include ../../toxin-blocks/dropdown/dropdown.pug
include ../../toxin-blocks/radio-buttons/radio-buttons.pug
include ../../toxin-blocks/toggle/toggle.pug
include ../../toxin-blocks/button/button.pug

mixin form(type)
  .form

    if type == 'search'
      
      .form__title-block
        h1.form__title Найдём номера под ваши пожелания
      .form__data-picker
        +data-picker('прибытие', 'выезд', 'ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ')
      .form__dropdown
        +dropdown('гости', '', 'Сколько гостей')
      .form__button
        +button('подобрать номер', 'large')


    if type == 'registration'

      .form__title-block
        h1 Регистрация аккаунта
      .form__text-field
        +text-field(false, false, 'Имя')
      .form__text-field
        +text-field(false, false, 'Фамилия')
      .form__radio-buttons
        +radio-buttons('Мужчина', 'Женщина')
      .form__text-field_berth-date
        +text-field('дата рождения', '', 'ДД.ММ.ГГГГ')
      .form__text-field
        +text-field('данные для входа в сервис', false, 'Email')
      .form__text-field
        +text-field(false, false, 'Пароль')
      .form__toggle
        +toggle('Получать спецпредложения')
      .form__button
        +button('перейти к оплате', 'large')
      .form__autorization-block
        .form__text_black Уже есть аккаунт на Toxin
        .form__button
          +button('войти', 'empty')


    if type == 'booking'

      .form__title-block
        .form__room-number 
          span.form__room-number_sign № 
          |888 
          span.form__room-number_purple люкс
        .form__room-cost-per-day 
          span.form__room-cost-per-day_bold 9 990₽ 
          span в сутки
      .form__data-picker
        +data-picker('прибытие', 'выезд', '19.08.2019', '23.08.2019')
      .form__dropdown
        +dropdown('гости', '', '3 гостя')
      .form__price-block
        .form__price-block-item
          .form__cost-counter
            .form__text.form__text_stretch 9 990₽ х 4 суток
          .form__text.form__text_cost 39 960₽
        .form__price-block-item
          .form__service
            .form__text.form__text_stretch Сбор за услуги: скидка 2 179₽
          .form__text.form__text_cost 0₽
        .form__price-block-item
          .form__text.form__text_stretch Сбор за дополнительные услуги
          .form__text.form__text_cost 300₽
        .form__price-block-item
          .form__text.form__text_bold Итого
          .form__line
          .form__text.form__text_bold 38 081₽
      .form__button
        +button('забронировать', 'large')


    if type == 'autorization'

      .form__title-block
        h1 Войти
      .form__text-field
        +text-field(false, false, 'Email')
      .form__text-field
        +text-field(false, false, 'Пароль')
      .form__button
        +button('войти', 'large')
      .form__autorization-block
        .form__text_black Нет аккаунта на Toxin?
        .form__button
          +button('создать', 'empty')