.radio-button__input{
    &:checked ~ .radio-button__title{
        color: $dark-shade75;
    }
    &:checked + .radio-button__border-box::before{
        content: '';
        position: absolute;
        left: 3px;
        top: 3px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: $purple-gradient;
    }
    &:checked + .radio-button__border-box{
        border-color: $purple;
    }
}