mixin radio-button()
    -for(i=1, i<x, i++){
        -let title = 
        label.radio-button
            input(type='radio', value='male', name='gender').radio__input
            p.radio-title male 
    }
           
    НЕ ДОДЕЛАН