.button{
  cursor: pointer;
  position: relative;
  background: transparent;

  &__text{
    @extend %title-h3;
    color: #fff;

    &_purple{
      color: $purple;
    }

    &_grey{
      color: $dark-shade50;
    }
  }

  &_fill{
    height: 44px;
    border-radius: 22px;
    background: $purple;
    background: $purple-gradient;
  }

  &_small{
    min-width: 99px;
    padding: 14px 20px 15px 20px;
  }

  &_empty{
  }

  &_large{
    width: 320px;
  }
}