mixin button(title, type, hover)

  - var buttonClassList = 'button';
  - var textClassList = 'button__text';

  if type == 'empty'
    - buttonClassList += ' button_small button_empty';
    - textClassList += ' button__text_purple';

  else if type == 'text-grey'
    - textClassList += ' button__text_grey';

  else if type == 'text-purple'
    - textClassList += ' button__text_purple'; 

  else if type == 'large'
    - buttonClassList += ' button_large button_fill';

  else
    - buttonClassList += ' button_small button_fill';
    if hover
      - buttonClassList += ' button_fill'

  if hover
    - buttonClassList += ' button_hover';

  button(class=buttonClassList) 
    span(class=textClassList) #{title}