.button{
  cursor: pointer;
  position: relative;
  background: transparent;

  &__text{
    @extend %title-h3;
    color: #fff;

    &_purple{
      color: $purple;
    }

    &_grey{
      color: $dark-shade50;
    }
  }

  &_fill{
    height: 44px;
    border-radius: 22px;
    background: $purple;
    background: $purple-gradient;
  }

  &_small{
    min-width: 99px;
  }

  &_empty{
    @include border-gradient(2px, 22px, $purple-gradient, #fff);
    height: 44px;
  }

  &_large{
    width: 320px;

    &:after{
      content: 'arrow_forward';
      @extend %material-icons;
      position: absolute;
      left: 284px;
      top: 10px;
      color: #fff;
    }
  }
}