/* LIKE */
.like-counter_checked{
    font-size: 10px;
    color: $purple;
}
.like-counter{
    font-size: 10px;
    color: $dark-shade25;
}
.like{
    color: $purple;
    font-size: 10px;
}
.like_border{
    font-size: 10px;
    color: $dark-shade25;
}
.button_like{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

/* RATE STARS */
.rate-block + .rate-block{
    padding-left: 20px;
}
.star, .star_border{    
    color: $purple;
    cursor: pointer;
    background: $purple-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* CHECKBOX-LIST */

.checkbox-list{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.checkbox-list__container{
    width: 266px;
}
.checkbox-list__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox-list__menu{
    display: none;
}
.checkbox-list__menu_active{
    display: block;
}