.ui-kit{

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__logo{
    padding: 30px;
  }

  &__header-links{
    padding: 20px;
    }
    
  &__header-link{

    & + &{
      margin-left: 20px;
    }
  }
}