mixin color-block(title, subTitle, colClass)
    - let x = 'color-block__color_' + colClass
    .color-block.section-color__item
        div(class=x).color-block__color
        include ../description/description.pug
        +description(title, subTitle, 'color-block__description')
        
            
            
               