.comment{

  &__title{
    @extend %body-text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75;
  }

  &__sub-title{
    @extend %body-text;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade25;
  }

  &__text{
    padding-left: 10px;
    word-wrap: break-word;
  }

  &__like-button{
    min-width: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
  }

  &__img{
    width: 48px;
  }

  &__bottom-section{
    padding-top: 10px;
    display: flex;
  }

  &__title-block{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
 }

  &__top-section{
    display: flex;
 }
}