mixin benefits-block
    .benefits-block__container
        .benefits-block
            i.material-icons.icon_gradient.benefits-block__icon &#xe24e;
            .benefits-block__description-block 
                h3.benefits-block__title Комфорт
                p.benefits-block__description Шумопоглощающие стены 
        .benefits-block__line
        .benefits-block
            i.material-icons.icon_gradient.benefits-block__icon &#xe7f1;
            .benefits-block__description-block
                h3.benefits-block__title Удобство
                p.benefits-block__description Окно в каждой из спален
        .benefits-block__line