.button-like_gradien{
    background-image: linear-gradient(white, white), 
                      radial-gradient(circle at top , #BC9CFF 55%, #8BA4F9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}