.field-border{
    background: #FFFFFF;
    border: 1px solid $dark-shade25;
    color: $dark-shade25;
    box-sizing: border-box;
    border-radius: 4px;
    &:hover, 
    &focus{
        color: $dark-shade50;
        border-color: $dark-shade50;
    }
}