extends ./templates/ui-kit-template.pug

include ../forms/form/form.pug
include ../forms/room-card/room-card.pug

block vars
  - pageTitle = 'Cards';
  - bodyClass = 'cards';

block content
  .cards__grid-container
    .cards__grid-item
      .margin-top_40
        +form('search')
      .margin-top_40
        +form('registration')

    .cards__grid-item
      .margin-top_40
        +form('booking')
      .margin-top_40
        +form('autorization')

    .cards__grid-item
      .margin-top_40
        +room-card(5, true)
      .margin-top_40
        +room-card(4)