extends ./ui-kit-template.pug

block content

    .section-color
        include ../color-block/color-block.pug
        +color-block('Dark Shade 100%', '#1F2041', 'ds-100')
        +color-block('Dark Shade 75%', '#1F2041', 'ds-75')
        +color-block('Dark Shade 50%', '#1F2041', 'ds-50')
        +color-block('Dark Shade 25%', '#1F2041', 'ds-25')
        +color-block('Dark Shade 5%', '#1F2041', 'ds-05')
        +color-block('Purple', '#BC9CFF', 'purple')
        +color-block('Green', '#6FCF97', 'green')


    .section-text
        .text-block.section-text__item
            .text-block__lable.lable
            .text-block__text.title-h1                