extends ./template.pug

block content
    include ../logo/logo.pug
    +logo

    .color-block
        .color-block__color
        .color-block__title.title-h2
        .color-block__sub-title.text   

    .text-block
        .texy-block__lable.lable
        .text-block__text.title-h1                