extends ./templates/ui-kit-template.pug

include ../toxin-blocks/color-block/color-block.pug

block vars
    - var pageTitle = 'Colors and Type';
    
block content
    .colors-and-type__grid-container
        .colors-and-type__grid-item            
            +color-block('Dark Shade 100%', '#1F2041', 'ds-100')
            +color-block('Dark Shade 75%', '#1F2041', 'ds-75')
            +color-block('Dark Shade 50%', '#1F2041', 'ds-50')
            +color-block('Dark Shade 25%', '#1F2041', 'ds-25')
            +color-block('Dark Shade 5%', '#1F2041', 'ds-05')
            +color-block('Purple', '#BC9CFF', 'purple')
            +color-block('Green', '#6FCF97', 'green')
        .colors-and-type__grid-item