extends ./templates/ui-kit-template.pug

include ../toxin-blocks/checkbox/checkbox.pug
include ../toxin-blocks/text-field/text-field.pug
include ../toxin-blocks/dropdown/dropdown.pug
include ../toxin-blocks/data-picker/data-picker.pug 
include ../toxin-blocks/subscription-field/subscription-field.pug
include ../toxin-blocks/toggle/toggle.pug
include ../toxin-blocks/range-slider/range-slider.pug
include ../toxin-blocks/button/button.pug
include ../toxin-blocks/pagination/pagination.pug
include ../toxin-blocks/checkbox-list/checkbox-list.pug
include ../toxin-blocks/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../toxin-blocks/bullet-list/bullet-list.pug
include ../toxin-blocks/benefits-block/benefits-block.pug
include ../toxin-blocks/comment/comment.pug


block vars
    - var pageTitle = 'Form Elements';

block content
    .grid