extends ./templates/ui-kit-template.pug

include ../toxin-blocks/checkbox/checkbox.pug
include ../toxin-blocks/text-field/text-field.pug
include ../toxin-blocks/dropdown/dropdown.pug
include ../toxin-blocks/data-picker/data-picker.pug 
include ../toxin-blocks/subscription-field/subscription-field.pug
include ../toxin-blocks/toggle/toggle.pug
include ../toxin-blocks/range-slider/range-slider.pug
include ../toxin-blocks/button/button.pug

block vars
    - var pageTitle = 'Form Elements';

block content
    .content-section
        .content-column.content-column_text-fields
            .margin-top_20
                +text-field("text field", "default", 'Email')
            .margin-top_20
                +text-field('text field', 'hover/focus', 'This is pretty awesome')
            .margin-top_20
                +dropdown('Dropdown', 'Defoult','Сколько гостей')
            .margin-top_20.margin-top_40
                +text-field('masked text field', 'default', '', '', 'mask')
            .margin-top_40
                +data-picker('data dropdown', 'data dropdown')
            .margin-top_40
                +dropdown('filter date dropdown', '', '', 'text-field_medium')
            .margin-top_40
                +subscription('subscription text field', 'text-field_medium')
        .content-column.content-column_switches
            .ui-kit-block.container_vertical
                .title-block
                    h3.checkbox-title checkbox button                
                .container_vertical                    
                    +checkbox('широкий', 'test')
                    +checkbox('низкий', 'ne-test')
                    +checkbox('длинный', 'ne-est')
            .ui-kit-block.container_vertical
                .title-block
                    h3 radio buttons
                .radio-buttons-block.container_horizontal
                    label.radio-button
                        input(type='radio', value='male', name='gender', checked='true').radio-button__input
                        .border-box.radio-button__border-box.border-box_round
                        p.radio-button__title male
                    label.radio-button
                        input(type='radio', value='female', name='gender').radio-button__input
                        .border-box.radio-button__border-box.border-box_round                        
                        p.radio-button__title female
            .ui-kit-block.container_vertical
                .title-block
                    h3 toggle
                .container_vertical        
                    +toggle('Получать спецпредложения', 'true')
                    +toggle('Получать спецпредложения')
            .ui-kit-block.container_vertical
                .title-block
                    h3 like button
                .container_horizontal
                    .margin-left_10
                        button.border-box.button_like
                            i.material-icons.like_border &#xe87e;
                            p.like-counter 0
                    .margin-left_10
                        button.border-box.border-box_gradient.button_like
                            i.material-icons.like &#xe87d;
                            p.like-counter_checked 12
            .ui-kit-block.container_vertical
                .title-block
                    h3 rate button
                .container_horizontal
                    .rate-block
                        i.material-icons.star &#xe838;
                        i.material-icons.star &#xe838;
                        i.material-icons.star &#xe838;
                        i.material-icons.star &#xe838;
                        i.material-icons.star_border &#xe83a;
                    .rate-block
                        i.material-icons.star &#xe838;
                        i.material-icons.star &#xe838;
                        i.material-icons.star &#xe838;
                        i.material-icons.star &#xe838;
                        i.material-icons.star &#xe838;

        .content-column.content-column_buttons
            .ui-kit-block
                +range-slider('range slider', '', 5000, 10000)
            .ui-kit-block.container_vertical
                h3.title-block buttons
                .container_horizontal.margin-top_30
                    .margin-left_20
                        +button('KEK')
                    .margin-left_20
                        +button('КУКАРЕК', '', 'inactive')
                .container_horizontal.margin-top_30
                    .margin-left_20
                        +button('LOL', 'border')
                    .margin-left_20
                        +button('some', 'border', 'inactive')
                .container_horizontal.margin-top_30
                    .margin-left_20
                        +button('apply', 'apply')
                    .margin-left_20
                        +button('LOL', 'reset')
                .container_horizontal.margin-top_30
                    +button('Переити к оплате', 'payment')

    .content-section
        .content-column.dropdowns
        .content-column_lists.content-column
        .content-column.content-column_icons-and-comments
