extends ./templates/ui-kit-template.pug

include ../toxin-blocks/checkbox/checkbox.pug
include ../toxin-blocks/text-field/text-field.pug
include ../toxin-blocks/dropdown/dropdown.pug
include ../toxin-blocks/data-picker/data-picker.pug 
include ../toxin-blocks/subscription-field/subscription-field.pug
include ../toxin-blocks/toggle/toggle.pug
include ../toxin-blocks/range-slider/range-slider.pug
include ../toxin-blocks/button/button.pug
include ../toxin-blocks/pagination/pagination.pug
include ../toxin-blocks/checkbox-list/checkbox-list.pug
include ../toxin-blocks/bullet-list/bullet-list.pug
include ../toxin-blocks/benefits-block/benefits-block.pug
include ../toxin-blocks/comment/comment.pug
include ../toxin-blocks/radio-buttons/radio-buttons.pug
include ../toxin-blocks/like-button/like-button.pug
include ../toxin-blocks/rate-button/rate-button.pug


block vars
  - var pageTitle = 'Form Elements';

block content
  .form-elements__grid-container
    .form-elements__grid-item
      +dropdown
    .form-elements__grid-item
      .form-elements__ui-kit-block
        .title-block
          h3 checkbox buttons
        .container_vertical
          +checkbox('Можно курить', 'test')
          +checkbox('Можно с питомцами', 'test', '', 'true')
          +checkbox('Можно пригласить гостей (до 10 человек)', 'test', '', 'true')
      .form-elements__ui-kit-block
        .title-block
          h3 radio buttons
        .container_horizontal
          +radio-buttons
      .form-elements__ui-kit-block
        .title-block
          h3 toggle
        .container_vertical
          +toggle('Получать спецпредложения', 'true')
          +toggle('Получать спецпредложения')
      .form-elements__ui-kit-block
        .title-block
          h3 like button
        .container_horizontal
          .margin-left_10
            +like-button(2)
          .margin-left_10
            +like-button(12, true)
      .form-elements__ui-kit-block
        .title-block
          h3 rate button
        .container_horizontal
          .margin-left_20
            +rate-button(4)
          .margin-left_20
            +rate-button(5)

    .form-elements__grid-item
      .form-elements__ui-kit-block
        .container_vertical.margin-top_40
          +range-slider('range slider', '5000-10000', 5000, 10000)
        .container_vertical.margin-top_40
          .title-block
            h3 Buttons
          .container_horizontal.margin-top_30
            .margin-left_20
              +button('click me')
            .margin-left_20
              +button('click me')
          .container_horizontal.margin-top_30
            .margin-left_20
              +button('click me', 'empty')
            .margin-left_20
              +button('click me', 'empty')
          .container_horizontal.margin-top_30
            .margin-left_20
              +button('click me', 'purple')
            .margin-left_20
              +button('click me', 'grey')
          .container_horizontal.margin-top_30
            +button('click me', 'large')

    .form-elements__grid-item
    .form-elements__grid-item
    .form-elements__grid-item
    .form-elements__grid-item
      .form-elements__ui-kit-block
        .margin-top_40
          +checkbox-list('expandeble checkbox list')
        .margin-top_40
          +checkbox-list('expandeble checkbox list', true)
    .form-elements__grid-item
      .form-elements__ui-kit-block
        .title-block
          h3 rich checkbox buttons
        .container_vertical
          +checkbox('Широкий коридор', '', 1)
          +checkbox('Помощник для инвалидов', '', 2)
    .form-elements__grid-item
      .form-elements__ui-kit-block
        +bullet-list('bullet-list')

    .form-elements__grid-item
      .form-elements__ui-kit-block
        +benefits-block(true)
    .form-elements__grid-item
      .form-elements__ui-kit-block
        +comment

