extends ./templates/ui-kit-template.pug

block vars
    - var pageTitle = 'Form Elements';

block content
    .content-section
        .column
            include ../toxin-blocks/text-field/text-field.pug
            +text-field("text field", "default", 'Email')
            +text-field('text field', 'hover/focus', 'This is pretty awesome')
            include ../toxin-blocks/dropdown/dropdown.pug
            +dropdown('Dropdown', 'Defoult','Сколько гостей')
            +text-field('masked text field', 'default', '', '', 'mask')
            include ../toxin-blocks/data-picker/data-picker.pug           
            +data-picker('data dropdown', 'data dropdown')
            +dropdown('filter data dropdown', 'default', '', 'text-field_medium')            
            +text-field("text field", "default", 'Email', 'text-field_medium')
            .text-field
            .text-field.text-field_focused
            .text-field.dropdown
            .text-field.text-field_masked
            .date-dropdowns
                .date-dropdown
                .date-dropdown.date-dropdown_filled
            .filter.filter_date-dropdown
            .subscription
        .switches.column
        .buttons.column
        .dropdowns.column
        .lists.column
        .icons-and-comments.column
