extends ./templates/ui-kit-template.pug

include ../toxin-blocks/checkbox/checkbox.pug
include ../toxin-blocks/text-field/text-field.pug
include ../toxin-blocks/dropdown/dropdown.pug
include ../toxin-blocks/data-picker/data-picker.pug 
include ../toxin-blocks/subscription-field/subscription-field.pug
include ../toxin-blocks/toggle/toggle.pug
include ../toxin-blocks/range-slider/range-slider.pug
include ../toxin-blocks/button/button.pug
include ../toxin-blocks/pagination/pagination.pug
include ../toxin-blocks/checkbox-list/checkbox-list.pug
include ../toxin-blocks/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../toxin-blocks/bullet-list/bullet-list.pug
include ../toxin-blocks/benefits-block/benefits-block.pug
include ../toxin-blocks/comment/comment.pug
include ../toxin-blocks/radio-buttons/radio-buttons.pug
include ../toxin-blocks/like-button/like-button.pug
include ../toxin-blocks/rate-button/rate-button.pug


block vars
  - var pageTitle = 'Form Elements';

block content
  .form-elements__grid-container
    .form-elements__grid-item
      +dropdown
      +checkbox-list
      +range-slider('range', '5-10', 5000, 10000)
    .form-elements__grid-item
      .form-elements__ui-kit-block
        .title-block
          h3 checkbox buttons
        .container_vertical
          +checkbox('Можно курить', 'test')
          +checkbox('Можно с питомцами', 'test', '', 'true')
          +checkbox('Можно пригласить гостей (до 10 человек)', 'test', '', 'true')
      .form-elements__ui-kit-block
        .title-block
          h3 radio buttons
        .container_horizontal
          +radio-buttons
      .form-elements__ui-kit-block
        .title-block
          h3 toggle
        .container_vertical
          +toggle('Получать спецпредложения', 'true')
          +toggle('Получать спецпредложения')
      .form-elements__ui-kit-block
        .title-block
          h3 like button
        .container_horizontal
          .margin-left_10
            +like-button(2)
          .margin-left_10
            +like-button(12, true)
      .form-elements__ui-kit-block
        .title-block
          h3 rate button
        .container_horizontal
          .margin-left_20
            +rate-button(4)
          .margin-left_20
            +rate-button(5)

    .form-elements__grid-item
    .form-elements__grid-item
    .form-elements__grid-item
    .form-elements__grid-item
    .form-elements__grid-item
      .form-elements__ui-kit-block
        .margin-top_40
          +checkbox-list('expandeble checkbox list')
        .margin-top_40
          +checkbox-list('expandeble checkbox list', true)
    .form-elements__grid-item
    .form-elements__grid-item
    .form-elements__grid-item
    .form-elements__grid-item
