extends ./templates/ui-kit-template.pug

include ../toxin-blocks/checkbox/checkbox.pug
include ../toxin-blocks/text-field/text-field.pug
include ../toxin-blocks/dropdown/dropdown.pug
include ../toxin-blocks/data-picker/data-picker.pug 
include ../toxin-blocks/subscription-field/subscription-field.pug
include ../toxin-blocks/toggle/toggle.pug

block vars
    - var pageTitle = 'Form Elements';

block content
    .content-section
        .content-column.content-column_text-fields
            +text-field("text field", "default", 'Email')
            +text-field('text field', 'hover/focus', 'This is pretty awesome')
            +dropdown('Dropdown', 'Defoult','Сколько гостей')
            +text-field('masked text field', 'default', '', '', 'mask')          
            +data-picker('data dropdown', 'data dropdown')
            +dropdown('filter date dropdown', '', '', 'text-field_medium')
            +subscription('subscription text field', 'text-field_medium')
        .content-column.content-column_switches
            .checkboxes-container
                h3.checkbox-title checkbox button
                +checkbox('широкий', 'test')
            .radio-buttons-block
                h3 radio buttons
                .radio-container
                    label.radio-button
                        input(type='radio', value='male', name='gender').radio-button__input
                        .border-box.radio-button__border-box.border-box_round
                        p.radio-button__title male
                    label.radio-button
                        input(type='radio', value='female', name='gender').radio-button__input
                        .border-box.radio-button__border-box.border-box_round                        
                        p.radio-button__title female
            .toggle-container
                h3 toggle
                +toggle('Получать спецпредложения', 'true')
                +toggle('Получать спецпредложения')

        .content-column.content-column_buttons
    .content-section
        .content-column.dropdowns
        .content-column_lists.content-column
        .content-column.content-column_icons-and-comments
