extends ./templates/ui-kit-template.pug

block vars
    - var pageTitle = 'Form Elements';

block content
    .content-section
        .content-column
            include ../toxin-blocks/text-field/text-field.pug
            +text-field("text field", "default", 'Email')
            +text-field('text field', 'hover/focus', 'This is pretty awesome')
            include ../toxin-blocks/dropdown/dropdown.pug
            +dropdown('Dropdown', 'Defoult','Сколько гостей')
            +text-field('masked text field', 'default', '', '', 'mask')
            include ../toxin-blocks/data-picker/data-picker.pug           
            +data-picker('data dropdown', 'data dropdown')
            include ../toxin-blocks/subscription-field/subscription-field.pug
            +subscription('subscription text field', 'text-field_medium')
            +subscription('subscription text field', 'text-field_medium')            
        .switches.column
        .buttons.column
        .dropdowns.column
        .lists.column
        .icons-and-comments.column
