extends ./templates/ui-kit-template.pug

block vars
    - var pageTitle = 'Form Elements';

block content
    .content-section
        .text-fields
            .text-field
            .text-field.text-field_focused
            .dropdown
            .text-field.text-field_masked
            .date-dropdowns
                input(type="datetime")
                .date-dropdown
                .date-dropdown.date-dropdown_filled
            .filter.filter_date-dropdown
            .text-field.text-field_subscription
        .switches
        .buttons
        .dropdowns
        .lists
        .icons-and-comments