extends ./templates/ui-kit-template.pug

include ../layouts/header/header.pug


block vars
  - var pageTitle = 'Headers & Footers';
  - var bodyClass = 'headers-and-footers';

block content
  .headers-and-footers__container
    .headers-and-footers__item
      +header(false, true)
    .headers-and-footers__item
      +header(true, true)