.range-slider__range{
    position: absolute;
    left: 25%;
    right: 25%;
    height: 100%;
    border-radius: 3px;
    //background: red;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}