mixin radio-buttons()
  .radio-buttons
    label.radio-buttons__button
      input(type='radio', value='male', name='gender', checked='true').radio-button__input
      .radio-buttons__item
      p.radio-buttons__title Мужчина
    label.radio-buttons__button
      input(type='radio', value='female', name='gender').radio-button__input
      .radio-buttons__item                        
      p.radio-buttons__title Женщина