mixin pagination
  .pagination
    .pagination__container
      .pagination__item.pagination__item_current
        span 1
      .pagination__item
        span 2
      .pagination__item
        span 3
      .pagination__item
        span ...
      .pagination__item
        span 15
      .pagination__item.pagination__item_select
        i.material-icons.arrow-forward &#xE5c8;
    span.pagination__description 1-12 из 100+ вариантов аренды