.dropdown{
  width: 320px;

  &_medium{
    width: 266px;
  }

  &_small{
    width: 150px;
  }

  &__title-block{
    display: flex;
    justify-content: space-between;

    & + .dropdown__body{
      margin-top: 5px;
    }
  }

  &__title{}
  
  &__sub-title{
    color: $dark-shade50;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    line-height: 15px;
  }

  &__body{
    cursor: pointer;
    height: 44px;
    @extend %text-field;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;

    &:before{
      content: 'keyboard_arrow_down';
      @extend %material-icons;
      color: $dark-shade50;
      position: absolute;
      right: 12px;      
    }

    &_medium{
      width: 266px;
    }

    &:hover{
      border-color: $dark-shade50;
    }
  }

  &__value{
    padding: 0 15px;
    color: $dark-shade75;
  }

  &__menu{
    position: absolute;
    top: 63px;
    width: 100%;
    height: max-content;
    border: 1px solid $dark-shade50;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    padding: 7px;
    box-shadow: 0px 10px 20px $dark-shade5;

    &_active{
      display: flex;
      z-index: 2;
      border-radius: 0 0 4px 4px;
    }
  }

  &__counter{
    width: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-item{
    display: flex;
    justify-content: space-between;

    & + .menu__menu-item{
      padding-top: 7px;
    }
  }

  &__button-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 7px 6px 7px;
  }
}