include ../../toxin-blocks/logo/logo.pug
include ../../toxin-blocks/text-field/text-field.pug

mixin footer(alt)

  if alt
    footer.footer.footer_alt
      .footer__logo
        +logo
      p.footer__text
        | Lorem ipsum dolor sit amet consectetur 
        | adipiscing elit aliquam eget nullam pellentesque 
        | aliquam curabitur cociis.
    .footer__social
      .footer__item
      .footer__item
      .footer__item
        
  else
    footer.footer
      .footer__top-section
        .footer__item
          .footer__logo
            +logo        
          p.footer__text
            | Lorem ipsum dolor sit amet consectetur 
            | adipiscing elit aliquam eget nullam pellentesque 
            | aliquam curabitur cociis.
        .footer__item
          h3.footer__title Navigation
          ul.footer__list
            li
              a(href="#").footer__link About Us
            li
              a(href="#").footer__link News
            li
              a(href="#").footer__link Support
            li
              a(href="#").footer__link Products
        .footer__item
          h3.footer__title about us
          ul.footer__list
            li
              a(href="#").footer__link Who we are
            li
              a(href="#").footer__link Our team
            li
              a(href="#").footer__link Careers
            li
              a(href="#").footer__link Investors
        .footer__item
          h3.footer__title support
          ul.footer__list
            li
              a(href="#").footer__link Documentation
            li
              a(href="#").footer__link Community
            li
              a(href="#").footer__link Get in Touch
        .footer__item
          h3.footer__title Subscribe to our newsletter
          p.footer__text
            | Receive our latest news and 
            | promotions in your inbox!
          .footer__subscription
            +text-field('', '', 'Your email address', 'sub')
      .footer__line
      .footer__bottom-section
        .footer__text
          span Copyright © 2018 Toxin UI Kit. All rights reserved.
        .footer__social
          .footer__icon
          .footer__icon
          .footer__icon