include ../../toxin-blocks/logo/logo.pug
include ../../toxin-blocks/text-field/text-field.pug

mixin footer(alt)

  if alt
    footer.footer.footer_alt
      .footer__logo
        +logo
      p.footer__text.footer__text_alt
        | Lorem ipsum dolor sit amet consectetur 
        | adipiscing elit aliquam eget nullam pellentesque 
        | aliquam curabitur cociis.
      .footer__social
        a(href="#").footer__social-link.footer__twitter-link
        a(href="#").footer__social-link.footer__facebook-link
        a(href="#").footer__social-link.footer__instagram-link
        
  else
    footer.footer
      .footer__top-section
        .footer__item
          .footer__logo
            +logo        
          p.footer__text
            | Lorem ipsum dolor sit amet consectetur 
            | adipiscing elit aliquam eget nullam pellentesque 
            | aliquam curabitur cociis.
        .footer__item
          h3.footer__title Navigation
          .footer__list
              a(href="#").footer__link About Us
              a(href="#").footer__link News
              a(href="#").footer__link Support
              a(href="#").footer__link Products
        .footer__item
          h3.footer__title about us
          .footer__list
              a(href="#").footer__link Who we are
              a(href="#").footer__link Our team
              a(href="#").footer__link Careers
              a(href="#").footer__link Investors
        .footer__item
          h3.footer__title support
          .footer__list
              a(href="#").footer__link Documentation
              a(href="#").footer__link Community
              a(href="#").footer__link Get in Touch
        .footer__item
          h3.footer__title Subscribe to our newsletter
          p.footer__text
            | Receive our latest news and 
            | promotions in your inbox!
          .footer__subscription
            +text-field('', '', 'Your email address', 'sub')
      .footer__line
      .footer__bottom-section
        .footer__text
          span Copyright © 2018 Toxin UI Kit. All rights reserved.
        .footer__social
          a(href="#").footer__social-link.footer__twitter-link
          a(href="#").footer__social-link.footer__facebook-link
          a(href="#").footer__social-link.footer__instagram-link