.footer{
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  

  &_alt{
    padding: 100px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top-section{
    padding: 100px 140px;
    display: flex;
    justify-content: space-between;
  }

  &__line{
    height: 2px;
    background-color: #e5e5e5;
  }

  &__bottom-section{
    padding: 0 140px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list{
    display: flex;
    flex-direction: column;
  }

  &__item{
    max-width: 260px;
    display: flex;
    flex-direction: column;
  }

  &__logo{

    & + .footer__text{
      padding-top: 20px;
    }
  }

  &__title{

    & + .footer__list{
      padding-top: 21px;
    }

    & + .footer__text{
      padding-top: 21px;
    }
  }

  &__link{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark-shade50;

    & + &{
      padding-top: 20px;
    }
  }

  &__social{
    display: flex;
  }

  &__text{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75;

    & + .footer__subscription{
      padding-top: 20px;
    }

    &_alt + .footer__social{
      padding-top: 25px;
    }
  }

  &__social-link{
    width: 24px;
    height: 24px;

    & + &{
      margin-left: 20px;
    }
  }
  
  &__twitter-link{
    
    &:after{
      content: '\f099';
      @extend %font-awesome-brands;
      @include text-gradient($purple-gradient, $purple);
    }
  }
  
  &__facebook-link{
    
    &:after{
      content: '\f082';
      @extend %font-awesome-brands;
      @include text-gradient($purple-gradient, $purple);
    }
  }
  
  &__instagram-link{
    
    &:after{
      content: '\f16d';
      @extend %font-awesome-brands;
      @include text-gradient($purple-gradient, $purple);
    }
  }
}