mixin subscription(title, mod)
    - let x = 'text-field ' + mod;
    div(class=x)
        .text-field__titles
            h3.text-field__title #{title}
        .field-conteiner
            input(type='text', placeholder='Email', class='text-input text-input_without-right')
            button.arrow-forward.subscription-field__field-button
                i.material-icons.arrow-forward_gradient &#xE5c8;
