.header{
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;

  &__content-wrapper{
    display: flex;
    width: 100%;
    padding: 0 140px;
    justify-content: space-between;
    align-items: center;
  }

  &__link{
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark-shade50;

    &_active, &:focus{
      font-weight: bold;
      color: $dark-shade75;
    }

    & + &{
      padding-left: 30px;
    }

    & + .header__expanded-button{
      padding-left: 30px;
    }

    & + .header__button{
      padding-left: 30px;
    }

    & + .header__user-name{
      padding-left: 60px;
    }
  }

  &__expanded-button{
    position: relative;
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark-shade50;

    &:after{
      content: 'expand_more';
      @extend %material-icons;
      color: $dark-shade50;
      position: absolute;
      right: -23px;
    }

    & + .header__link{
      padding-left: 44px;
    }
  }

  &__button{

    & + &{
      padding-left: 20px;
    }
  }

  &__navigation-block{
    display: flex;
    align-items: center;
  }

  &__user-name{    
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark-shade50;
  }
}