include ../../toxin-blocks/button/button.pug
include ../../toxin-blocks/logo/logo.pug

mixin header(login, demo)

  - var linkClassList = 'header__link'

  if demo
    - linkClassList += ' header__link_active'

  .header          
    .header__content-wrapper
      +logo
      .header__navigation-block
        a(class=linkClassList, href="#") Home
        a(href="#").header__link About Us
        label.header__expanded-button Services
        a(href="#").header__link Careers
        a(href="#").header__link News
        a(href="#").header__link Documentation

        if login
          .header__user-name Cosmin Negoita

        else
          .header__button
            +button('login', 'empty')
          .header__button
            +button('register')