@import './core/fonts.scss';
@import './core/variables.scss';
@import './core/defoult.scss';
@import '../color-block/color-block__color.scss';
@import '../color-block/__color/_ds-100.scss';
@import '../color-block/__color/_ds-75.scss';
@import '../color-block/__color/_ds-50.scss';
@import '../color-block/__color/_ds-25.scss';
@import '../color-block/__color/_ds-05.scss';
@import '../color-block/__color/_green.scss';
@import '../color-block/__color/_purple.scss';



body{
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75; 
}
h1{
    font-size: 24px;
    line-height: 30px;
    color: $dark-shade;
}
h2{
    font-size: 19px;
    line-height: 24px;
    color: $dark-shade;
}
h3{
    font-size: 12px;
    line-height: 15px;
    color: $dark-shade;
    text-transform: uppercase;
}
