@import './fonts.scss';
@import './variables.scss';
@import './defoult.scss';

body{
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade75; 
}
h1{
    font-size: 24px;
    line-height: 30px;
    color: $dark-shade;
}
h2{
    font-size: 19px;
    line-height: 24px;
    color: $dark-shade;
}
h3{
    font-size: 12px;
    line-height: 15px;
    color: $dark-shade;
    text-transform: uppercase;
}
